@-webkit-keyframes chevronAnimation {
  0% {
    top: 5px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 5px;
  }
}
@keyframes chevronAnimation {
  0% {
    top: 5px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  margin-right: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #D21C2D;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #fff;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h2.section_title {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
h2.section_title .text {
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  padding: 0 10px;
}
h2.section_title::before {
  content: "";
  width: 100%;
  display: inline-block;
  border: 1px solid #000;
  background: #000;
}

.playfair_font {
  font-family: "Playfair Display", serif;
}

p.section_subtitle {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 60%;
  margin: 0 auto 30px;
}

.img100 {
  width: 100%;
  vertical-align: middle;
}

#navbar_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #D21C2D;
  color: #fff;
  z-index: 3;
}
#navbar_top .header_left {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}
#navbar_top .header_left .logo {
  width: 50px;
  margin-right: 20px;
  background: #fff;
  border-radius: 50%;
}
#navbar_top .header_left h3 {
  font-weight: 700;
  font-size: 19px;
}
#navbar_top .header_right {
  font-size: 25px;
  cursor: pointer;
}

header #jumbotron {
  overflow: hidden;
  margin-top: 70px;
  color: #fff;
}
header #jumbotron .swiper-button-prev,
header #jumbotron .swiper-button-next {
  width: 70px;
  height: 70px;
  background: #D21C2D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}
header #jumbotron .swiper-button-prev:hover,
header #jumbotron .swiper-button-next:hover {
  color: #D21C2D;
  background: #fff;
}
header #jumbotron .swiper-button-prev::after,
header #jumbotron .swiper-button-next::after {
  content: "";
}
header #jumbotron .jumbotron_item {
  position: relative;
  height: calc(100vh - 70px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header #jumbotron .jumbotron_item::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #00000035;
}
header #jumbotron .jumbotron_item .jumbotron_item_text {
  position: absolute;
  bottom: 150px;
  left: 150px;
  text-transform: uppercase;
}
header #jumbotron .jumbotron_item .jumbotron_item_text .jumbotron_title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}
header #jumbotron .jumbotron_item .jumbotron_item_text .jumbotron_subtitle {
  font-size: 24px;
}
header #jumbotron .jumbotron_item .jumbotron_item_text .jumbotron_link {
  display: inline-block;
  overflow-x: hidden;
  padding: 10px;
  background: #D21C2D;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
  transition: all 0.3s;
}
header #jumbotron .jumbotron_item .jumbotron_item_text .jumbotron_link i {
  margin-left: 5px;
  position: relative;
  left: 0;
  transition: all 0.5s;
}
header #jumbotron .jumbotron_item .jumbotron_item_text .jumbotron_link:hover {
  background: #e53c4c;
}
header #jumbotron .jumbotron_item .jumbotron_item_text .jumbotron_link:hover i {
  left: 100px;
}

main #retraining {
  padding: 30px 40px;
}
main #retraining h2.section_title.dynamic {
  margin-bottom: 0;
  color: #000;
  transition: color 0.3s;
}
main #retraining h2.section_title.dynamic:hover {
  cursor: pointer;
  color: #D21C2D;
}
main #retraining .chevron {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #999999;
}
main #retraining .chevron i {
  position: relative;
  -webkit-animation: chevronAnimation 2s infinite;
          animation: chevronAnimation 2s infinite;
}
main #retraining .block_list {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #retraining .block_list .retraining_item {
  width: calc(98% / 2);
  height: 400px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main #retraining .block_list .retraining_item .retraining_btn {
  position: absolute;
  bottom: -35px;
  right: 30px;
  width: 70px;
  height: 70px;
  background: #D21C2D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}
main #retraining .block_list .retraining_item .retraining_btn:hover {
  color: #D21C2D;
  background: #fff;
}
main #retraining .block_list .retraining_item .retraining_content_description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 35px;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 40%);
}
main #retraining .block_list .retraining_item .retraining_content_description h3 {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
}
main #retraining #retraining_sub_content {
  margin-top: 20px;
  padding: 0 0 calc(30px / 2);
}
main #retraining #retraining_sub_content .block_list {
  display: flex;
  justify-content: center;
}
main #retraining #retraining_sub_content .block_list .retraining_sub_item {
  width: calc(100% / 2 - 10px);
  height: 370px;
  margin: 0 5px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main #retraining #retraining_sub_content .block_list .retraining_sub_item .path_btn {
  position: absolute;
  bottom: -45px;
  right: 30px;
  width: 70px;
  height: 70px;
  background: #D21C2D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}
main #retraining #retraining_sub_content .block_list .retraining_sub_item .path_btn:hover {
  color: #D21C2D;
  background: #fff;
}
main #retraining #retraining_sub_content .block_list .retraining_sub_item .retraining_sub_item_description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #00000090 30%);
}
main #retraining #retraining_sub_content .block_list .retraining_sub_item .retraining_sub_item_description h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}
main #retraining #retraining_sub_content .block_list .retraining_sub_item .retraining_sub_item_layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  opacity: 0;
  transition: all 0.4s;
}
main #retraining #retraining_sub_content .block_list .retraining_sub_item .retraining_sub_item_layover .layover_list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
main #retraining #retraining_sub_content .block_list .retraining_sub_item .retraining_sub_item_layover .layover_list li {
  color: #D21C2D;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
main #retraining #retraining_sub_content .block_list .retraining_sub_item:hover .retraining_sub_item_layover {
  opacity: 1;
}
main #tutorials {
  padding: 0 40px;
  height: 400px;
  margin: 40px 0;
}
main #tutorials .tutorials_list {
  height: 100%;
  display: flex;
}
main #tutorials .tutorials_list .tutorial_item {
  display: flex;
  flex-direction: column-reverse;
  width: calc(100% / 4);
  height: 100%;
  border-bottom: 4px solid #D21C2D;
}
main #tutorials .tutorials_list .tutorial_item:nth-child(even) {
  flex-direction: column;
  border-top: 4px solid #D21C2D;
  border-bottom: 0;
}
main #tutorials .tutorials_list .tutorial_item .tutorial_item_image {
  height: 83%;
}
main #tutorials .tutorials_list .tutorial_item .tutorial_item_image img {
  height: 100%;
}
main #tutorials .tutorials_list .tutorial_item .tutorial_item_desc {
  padding: 2px 10px;
}
main #tutorials .tutorials_list .tutorial_item .tutorial_item_desc .item_desc_top .item_num {
  display: inline-block;
  width: 10%;
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  color: #D21C2D;
  font-weight: 700;
}
main #tutorials .tutorials_list .tutorial_item .tutorial_item_desc .item_desc_top .item_separator {
  display: inline-block;
  width: 90%;
  border-bottom: 1px solid black;
  vertical-align: middle;
}
main #tutorials .tutorials_list .tutorial_item .tutorial_item_desc .item_desc_text {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
main #paths {
  padding: 0 40px 30px;
}
main #paths .section_title {
  margin-bottom: 30px;
}
main #paths #paths_list {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main #paths #paths_list .path_item {
  width: calc(90% / 3);
}
main #paths #paths_list .path_item .path_item_pic {
  position: relative;
}
main #paths #paths_list .path_item .path_item_pic .path_btn {
  position: absolute;
  bottom: -45px;
  right: 30px;
  width: 70px;
  height: 70px;
  background: #D21C2D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
}
main #paths #paths_list .path_item .path_item_pic .path_btn:hover {
  color: #D21C2D;
  background: #fff;
}
main #paths #paths_list .path_item .path_item_description {
  margin-top: 20px;
}
main #paths #paths_list .path_item .path_item_description h3 {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 600;
}
main #paths #paths_list .path_item .path_item_description p {
  font-size: 17px;
}
main .video {
  padding: 30px 40px;
  background: #18181C;
  color: #fff;
}
main .video .text {
  background: #18181C;
}
main .video .section_title::before {
  border: 1px solid #fff;
  background: #fff;
}
main .video .video_container {
  display: flex;
  justify-content: center;
}

#path_jumbotron {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
  margin-top: 70px;
  padding: 30px 40px;
  background: #EEEEEE;
}
#path_jumbotron .path_jumbotron_item {
  width: calc(100% / 3 - 10px);
  margin: 0 5px;
  text-align: center;
}
#path_jumbotron .path_jumbotron_item .static_title {
  font-size: 56px;
  font-weight: 600;
}
#path_jumbotron .path_jumbotron_item .dynamic_title {
  font-size: 64px;
  font-weight: 700;
  color: #D21C2D;
}
#path_jumbotron .path_jumbotron_item .logo_img {
  width: 60%;
}
#path_jumbotron .path_jumbotron_item .path_description {
  font-size: 20px;
  font-weight: 500;
  padding: 0 30px;
}

#panels {
  padding: 30px 40px;
}
#panels #panels_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#panels #panels_list .panel_item {
  width: 40%;
  margin: 20px;
  cursor: pointer;
}
#panels #panels_list .panel_item .panel_item_img {
  position: relative;
}
#panels #panels_list .panel_item .panel_item_img::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #ffffff00;
  transition: all 0.5s;
}
#panels #panels_list .panel_item:hover .panel_item_img::after {
  background: #ffffff60;
}
#panels #panels_list .panel_item .panel_item_text {
  text-align: center;
  padding: 10px;
}
#panels #panels_list .panel_item .panel_item_text .panel_title {
  font-weight: 600;
  margin-bottom: 10px;
}

#overlay_popup {
  position: fixed;
  top: 0;
  left: 0;
  background: #00000070;
  width: 100vw;
  height: 100vh;
}
#overlay_popup #panel_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  margin-top: calc(70px / 2);
  background: #eeeeee;
  z-index: 6;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.62);
}
#overlay_popup #panel_popup .close_btn {
  position: absolute;
  right: 15px;
  top: 7px;
  font-size: 25px;
  color: #c9c7c7;
  cursor: pointer;
  transition: color 0.3s;
}
#overlay_popup #panel_popup .close_btn:hover {
  color: #4a4747;
}
#overlay_popup #panel_popup .panel_popup_top {
  height: 70%;
}
#overlay_popup #panel_popup .panel_popup_top .panel_title {
  height: 10%;
}
#overlay_popup #panel_popup .panel_popup_top .panel_title h2 {
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}
#overlay_popup #panel_popup .panel_popup_top .panel_top_items {
  height: 90%;
  display: flex;
}
#overlay_popup #panel_popup .panel_popup_top .panel_top_items .panel_top_item {
  width: calc(100% / 2);
  padding: 15px 15px 20px;
}
#overlay_popup #panel_popup .panel_popup_top .panel_top_items .panel_top_item img {
  width: 100%;
  height: 100%;
}
#overlay_popup #panel_popup .panel_popup_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  overflow: auto;
}
#overlay_popup #panel_popup .panel_popup_bottom p {
  font-size: 18px;
  text-align: center;
  padding: 0 40px;
  padding-top: 60px;
}

.video {
  padding: 30px 40px;
  background: #18181C;
  color: #fff;
}
.video .section_title .text {
  background: #18181C;
}
.video .section_title::before {
  border: 1px solid #fff;
  background: #fff;
}
.video .video_container {
  display: flex;
  justify-content: space-around;
}

footer {
  padding: 30px 40px;
  background: #EEEEEE;
  display: flex;
  justify-content: space-between;
}
footer .footer_section {
  width: calc(98% / 4);
  padding: 0 10px;
}
footer .footer_section .footer_title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #D21C2D;
}
footer .footer_section .footer_content {
  font-size: 16px;
  margin-top: 10px;
}
footer .footer_section #social_icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
footer .footer_section #social_icons .social_icon {
  font-size: 25px;
  margin-right: 20px;
  color: #6f6f6f;
  transition: color 0.4s;
}
footer .footer_section #social_icons .social_icon.fb:hover {
  color: #1771E6;
}
footer .footer_section #social_icons .social_icon.ig:hover {
  color: #E63162;
}
footer .footer_section #social_icons .social_icon.yt:hover {
  color: #FF0000;
}
footer .footer_section #social_icons .social_icon.in:hover {
  color: #0A66C2;
}
